@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* * åsidosätta allt på webbplatsen, vilket gör att den inte har padding eller margin gör det så att webbplatsen ser bättre ut och inte har tomt utrymme nära väggarna */
*{
    /* box-sizing: border-box gör att margin och padding ingår i bredd och höjd. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}
/*välja ett teckensnitt för länkarna, egenskapen font-weight anger hur fet texten är*/
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.logo{
    font-size: 30px;
    font-weight: 700;
}
/* display: flex används för att få elementen att justeras horisontellt */
/*justify-content: space-between gör det så att föremålen kommer att ha utrymme mellan dem*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
/* list-style: none användas för att ta bort markörerna/kulorna i listan */
.navli {
    list-style: none;
}
/* display: inline-block används för att visa listobjekt horisontellt istället för vertikalt */
.navli li {
    display: inline-block;
    padding: 10px;
}